/Debug
/ipch
/fireblast.sdf
/fireblast.math/Debug
/TestResults
/fireblast.test/Debug
/fireblast.tdd/Debug
/fireblast.color/Debug
/fireblast.color/Release
/fireblast.util/Release
/fireblast.util/Debug
/Release
/fireblast.tdd/Release
/fireblast.math/Release
/fireblast.test/Release
/FBEditor/bin
/FBEditor/obj
/fireblast.physics/Debug
